@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/*Variáveis do site*/
:root {
    /*Paleta de cores*/
    --cor1: #e48100;
    --cor2: #88460c;
    --cor3: #ac784a;
    --cor4: #771eec;
    --cor5: #4A02A8;
    --cor6: rgba(0, 0, 0, 0.534);

    /*Fonte do google fonts*/
    --fonte-marca: 'Secular One', cursive;
    --fonte-padrao: 'Alfa Slab One', Arial, Helvetica, sans-serif;
}

/*CORPO DA PÁGINA*/
body {
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
}

/*CABEÇALHO DA PÁGINA- Contem as configurações de texto, cor e tamanho*/
header {
    /*Margem-Tamanho*/
    margin: 0px;
    width: auto;


    /*Cor de fundo*/
    background-color: var(--cor1);
}

header h1 {
    display: inline;

    margin: 0px;
    padding: 10px;

    font-family: var(--fonte-marca);
    font-size: 4em;
}

header nav {
    display: inline-block;

    padding: 10px;

    margin-right: 40%;
}

header a {
    display: block;

    background-color: var(--cor4);
    box-shadow: 1px 1px 4px var(--cor6);

    padding: 5px;
    margin: 10px;

    font-size: 1.5em;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: 100;

    color: var(--cor1);


}
