@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

    --verde-preto: #08240e;
    --verde-escuro: #10471c;
    --verde-normal: #46a75b;
    --verde-claro: #bbe69f;
    --vermelho-escuro: #C41529;
    --vermelho-claro: #EB4D60;
    --cor-strong: #c1e0ac3a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--verde-claro);
    font-family: var(--fonte-padrao);
}

.link-ext::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--verde-normal), var(--verde-escuro), var(--verde-preto));
    min-height: 130px;
    text-align: center;
    padding-top: 20px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 0px 0px 20px #061d0b;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 0px 10px 20px 10px;
    text-shadow: 0px 0px 20px #000000d8;
}

nav {
    padding-top: 20px;
    background-color: var(--verde-preto);
    padding: 10px;
    box-shadow: 0px 3px 10px var(--verde-preto);
}

nav > a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: #176628;
    border-radius: 6px;
    font-size: 1.3em;
}

main {
    min-width: 280;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    margin-bottom: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main h1 {
    color: var(--verde-preto);
    font-family: var(--fonte-android);

}

main h2 {
    font-family: var(--fonte-android);
    color: var(--verde-escuro);
    font-size: 1.3em;
}

main p {
    padding: 20px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    font-size: 1.1em;
}

main strong {
    color: var(--verde-escuro);
    font-weight: bold;
    background-color: var(--cor-strong);
    padding: 1.5px 3px;
    border-radius: 5px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--verde-escuro);
    background-color: var(--verde-claro);
    padding: 1.5px 3px;
    border-radius: 5px;
    transition-duration: .3s;
    white-space: nowrap;
}

main a:hover {
    background-color: var(--verde-normal);
    font-size: 1.12em;
}

main img {
    width: 100%;
}

main img.imagem-pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background-color: var(--verde-preto);
    margin: 0px -20px 40px -20px;
    padding: 10px;
    padding-bottom: 59%;

    position: relative;
}

div.video iframe {
    position: absolute;

    margin: auto;

    top: 3%;
    left: 3%;
    width: 95%;
    height: 95%;
}

aside {
    background-color: var(--verde-claro);
    border-radius: 10px;
    margin-top: 20px;
    padding: 0px 10px 10px 10px;
    box-shadow: 0px 0px 10px var(--verde-preto);
}

aside h3 {
    background-color: var(--verde-escuro);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside > ul {
    list-style-type: none;
    list-style-position: inside;
    columns: 2;
    padding: 5px;
}

aside li {
    font-size: 1em;
    width: max-content;
}

aside li:hover {
    font-size: 1.1em;
    color: var(--verde-preto);
    background-color: var(--verde-normal);
    font-weight: bold;
    padding: 4px;
}

aside abbr {
    text-decoration: none;
}

footer {
    background-color: #08240e;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p {
    font-size: 1em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}

footer a:hover {
    font-size: 1.1em;
    color: var(--verde-normal);
}