@charset "UTF-8";

/*Variáveis*/
:root {
    /*Da paleta*/
    --cor1: #fbe8de;
    --cor2: #FF7300;
    --cor3: #E16E18;
    --cor4: #AE402F;
    --cor5: #49170F;

    /*De sombra*/
    --sombra: rgba(0, 0, 0, 0.516);
}

/*Configuração para resetar margin e padding*/
* {
    margin: 0;
    padding: 0;
}


/*Configurações do header*/
header {
    display: flexbox;

    background-color: var(--cor1);
}

img#logo {
    display: inline;

    width: 150px;

    padding: 10px;
    margin: 0 0 0 -40px;
}

h1#nome {
    display: inline;

    margin: 30px 0 0 -50px;

    font: bold 3em Arial;
    color: var(--cor5);
}

header > div {
    display: inline;

    margin: 0 0 0 60vw;
}

div#busca {
    position: relative;

    display: inline;
}

div#busca > input {
    position: absolute;

    border: none;
    background-color: transparent;

    width: 40px;
    height: 40px;
}

img#lupa {
    position: absolute;

    width: 40px;
    height: 40px;
}