@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;

    width: 100vw;
    height: 100vh;

    background: rgb(254, 204, 129) url(../imagens/fundo-madeira.jpg) center center no-repeat fixed;

    background-size: cover;
}

section#exib {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 242px;
    height: 491px;

    background-image: url(../imagens/frame-iphone.png);
    background-size: cover;
}

iframe {
    margin: 0;
    padding: 0;

    position: absolute;

    top: 63px;
    left: 17px;
 
    width: 209px;
    height: 369px;
}

section#bott {
    padding: 30px 10px;

    text-align: right;
}



li > a {
    display: inline-block;

    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.616);

    width: 40px;
    height: 40px;

    margin-bottom: 10px;

    border: 1px solid black;
    border-radius: 50%;

    transition-duration: 0.5s;
    transform: scale(1);
}

li > a:hover {
    transform: scale(1.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.824);
    border: 1px solid white;
}

a#home {
    background-image: url(../imagens/logo-home.jpg);
}

a#face {
    background-image: url(../imagens/logo-facebook.jpg);
}

a#yout {
    background-image: url(../imagens/logo-youtube.jpg);
}

a#gith {
    background-image: url(../imagens/logo-github.jpg);
}

a#inst {
    background-image: url(../imagens/logo-instagram.jpg);
}

a#twit {
    background-image: url(../imagens/logo-twitter.jpg);
}