@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;

    width: 100vw;
    height: 100vh;

    background: rgb(254, 204, 129) url(../imagens/fundo-madeira.jpg) center center no-repeat fixed;

    background-size: cover;
}

section#exib {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 242px;
    height: 491px;

    background-image: url(../imagens/frame-iphone.png);
    background-size: cover;
}

iframe {
    margin: 0;
    padding: 0;

    position: absolute;

    top: 64px;
    left: 18px;
 
    width: 207px;
    height: 367px;
}